<a href="https://colab.research.google.com/github/BustamJos3/ia4eng_jdbs_afmp_project/blob/main/02_preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contents
* dataset loading from 01-exploracion.ipynb
* feature importance

# Modules

In [1]:
#modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from zipfile import ZipFile
import seaborn as sns
import sklearn as sk
from sklearn.model_selection import train_test_split
from scipy import stats

# Loading

In [2]:
#load dataset from github in .json
df_explore=pd.read_json("https://raw.githubusercontent.com/BustamJos3/ia4eng_jdbs_afmp_project/main/01exporacion.json",orient='index')
df_explore.drop('Id',axis=1,inplace=True)
df_explore.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,2596.0,51.0,3.0,258,0,510,221.0,232.0,148.0,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590.0,56.0,2.0,212,-6,390,220.0,235.0,151.0,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804.0,139.0,9.0,268,65,3180,234.0,238.0,135.0,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785.0,155.0,18.0,242,118,3090,238.0,238.0,122.0,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595.0,45.0,2.0,153,-1,391,220.0,234.0,150.0,6172,...,0,0,0,0,0,0,0,0,0,5

# Feature importance

# dataset to repo to chainning

Dataset with non important columns dropped

In [3]:
df_explore.to_json('02preprocesado.json',orient='index')